body {
    background-color: #f3f4f6;
}

.btn {
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    transition: background 0.3s;
}

.btn-blue {
    background-color: #3b82f6;
}

.btn-blue:hover {
    background-color: #1e40af;
}

.btn-green {
    background-color: #10b981;
}

.btn-green:hover {
    background-color: #065f46;
}

.btn-purple {
    background-color: #8b5cf6;
}

.btn-purple:hover {
    background-color: #6d28d9;
}

.content-box {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
